.ConsoleUI {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.ExtraSpace {
  height: 282px;
}

.SuperBar {
  width: 100%;
  height: 32px;
  background: #1d1d1d;
  display: flex;

  span {
    color: #fff;
    font-family: sans-serif;
    font-size: 0.9em;
    padding: 8px 8px 8px 0px;
  }

  img {
    height: 22px;
    padding: 5px;
  }
}

.Stage {
  width: 100%;
  height: 250px;
  background: #0e0e0e;
  padding: 8px;
}

.Text {
  font-family: sans-serif;
  font-size: 0.9em;
}
